.form{
    width: 100%;
 display:flex;
}
.branding_xt{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branding_xt h1{
text-align: center;
}
.branding_xt img{
    width: 300px;
    height: 300px;
}
.container_form {
    width: 50%;
    background-image: url(../img/fondos/form.png);
    background-size: 100% 100%;
}
.container_form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   
}
.container_form form input{
    width: 300px;
  margin: 20px auto;
  border: none;
  background: transparent;
  border-bottom: 2px solid #ccc;
}
.container_form form .send{
    background-color: #FFC107;
    border: none;
    width: 100px;
    padding: 10px;
    margin-left: 190px;
    border-radius: 5px;
    cursor: pointer;
    color: #fafafa;
    transition: all 0.5s;
}
.container_form form .send:hover{
   transition: all 0.5s;
   
}