.form{
    width: 100%;
 display:flex;
}
.branding_xt{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branding_xt h1{
text-align: center;
}
.branding_xt img{
    width: 300px;
    height: 300px;
}
.container_form {
    width: 50%;
   
}


.container_form  {
    width: 50%;
   
}
.container_form iframe  {
    width: 100%;
    height: 1000px;
   
}